aiohttp==2.3.2
amqp==2.2.2
asn1crypto==0.23.0
async-timeout==2.0.0
awscli==1.11.170
billiard==3.5.0.3
boto3==1.4.7
botocore==1.7.28
celery==4.1.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
colorama==0.3.7
cryptography==3.2
Django==1.11.6
django-storages==1.6.5
docutils==0.14
enum34==1.1.6
eventlet==0.22.0
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
kombu==4.1.0
multidict==3.3.2
psycopg2==2.7.3.1
pyasn1==0.3.7
pycparser==2.18
pyOpenSSL==17.3.0
python-dateutil==2.6.1
python-memcached==1.58
pytz==2017.2
PyYAML==3.12
redis==2.10.6
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
urllib3==1.22
vine==1.1.4
yarl==0.14.0
