<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Craftybot Supplies Selection</title>
    <style>
        .select-button {
            background-color: #006eff;
            color: white;
            border-radius: 15px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
</head>

<body>
    <script>(
            function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));
    </script> {% for supply in supplies %}
    <div class="supply-panel">
        <div class="supply-image">
            <a>
                <img src="http://via.placeholder.com/150x150">
            </a>
        </div>
        <div>
            <p>{{supply.tags}}</p>
        </div>
        <button id="{{ supply.id }}" class="select-button" type="button">Select</button>
    </div>
    {% endfor %}
    <script>
        $(function () { // this is the jquery shortcut for document.ready()
            function SelectSupplies(evt) {
                evt.preventDefault();
                var url = new URL(window.location)
                var id = this.id;
                $.post(
                    '/bot/post_supply',
                    {
                        supply_id: id,
                        sender_id: url.searchParams.get('sender_id')
                    },
                    SelectSuppliesSuccess
                );
            }
            function SelectSuppliesSuccess(result) {
                console.log(result.status);
                MessengerExtensions.requestCloseBrowser();
            }
            $('.select-button').click(SelectSupplies);
        });
    </script>
</body>

</html>